@media screen and (max-width: 450px) {
    /* ====================== Restaurant Filtering ====================== */
    .filter-options {
        width: 100%;
        height: 250px;
        background-color: #f58500;
        align-items: center;
        text-align: center;
    }
}